<!-- Start navbar -->
<nav class="navbar">
    <ul>
        <li><a href="#services"> خَدَمَاتْ </a></li>
        <li><a href="#stats"> إحصائيات </a></li>
        <li><a href="#needed"> عِلَاج مَطْلُوب </a></li>
        <li><a href="#donated"> عِلَاج مَوْجُودْ </a></li>
        <li><a href="#about"> مَن نَحْن </a></li>
    </ul>
</nav>
<!-- End navbar -->

<!-- Start showcase -->
<section class="showcase">
    <div class="content">
        <img src="../../../assets/images/logo.png" class="logo" alt="online pharmacy">
        <div class="title">صَيْدَلِيَّة النَّاس</div>
        <div class="second-title">من النَّاس لِلنَّاس</div>
        <div class="text">كُلُّ امْرِئٍ في ظِلِّ صَدَقَتِهِ حَتَّى يُفْصَلَ بَيْنَ النَّاسِ</div>
        <span class="btn sign-in-btn">تَسْجِيل دُخُول</span>
        <span class="btn sign-up-btn">إنْشَاءْ حِسَاب</span>
    </div>
</section>
<!-- End showcase -->

<!-- Start Services -->
<section class="services bg-light" id="services">

    <h1 class="section-title">الْخَدَمَات الرَّئِيسِيَّة</h1>

    <div class="container grid-3 center">
        <div>
            <i class="fa-solid fa-hand-holding-heart fa-3x"></i>
            <h3>أَعْطِي</h3>
            <p>لَحْظَة إنْشَاءْ حِسَابِك و تَسْجِيل دُخُولك بإمْكانك التَّبَرُّع بِأَيّ دَوَاء تَمَلُّكُه لِمَن يَحْتَاجُه عَن طَرِيق وَضَعَه عِنْد أَقْرَب صَيْدَلِيَّة مُسَجَّلَة عَلَى الْمَوْقِع </p>
        </div>
        
        <div>
            <i class="fa-regular fa-hand-lizard fa-3x"></i>
            <h3>خُذ</h3>
            <p>لَحْظَة إنْشَاءٌ حِسَابك و تَسْجِيل دُخُولك بإمْكانك تَصَفُّح الْأَدْوِيَة المتوفرة عَلَى الْمَوْقِع و أَخْذُ مَا تَحْتَاجُهُ أَوْ طَلَبَ مَا تَحْتَاجُهُ فِي حَالَةِ عَدَمِ توفره</p>
        </div>
        

        <div>
            <i class="fa-solid fa-handshake-angle fa-3x"></i>
            <h3>سَاعِد</h3>
            <p>هَذِهِ الْخَاصِّيَّةَ بِالتَّحْدِيد تَخُصّ الصيدليات، حالَما تُنْشِئ حِسَابك ك صَيْدَلِيَّة ف هَذِهِ أَصْبَحْت وَاحِدَةٍ مِنْ الصيدليات الْمُعْتَمَدَة لَدَى الْمَوْقِع حَيْثُ يُمْكِنُ للزبائن وَضْع أَوْ أَخَذْ الدَّوَاءِ مِنْ خِلَالك ك يَدِ أَمِينِة</p>
        </div>
    </div>
    
</section>
<!-- End Services -->


<!-- Start statistics -->
<section class="stats bg-light" id="stats">

    <h1 class="section-title">إِحصائيات</h1>

    <div class="container grid-3 center">
        <div>
            <i class="fa-solid fa-hand-holding-heart fa-3x"></i>
            <h3>100 تَبَرُّع</h3>
        </div>
        
        <div>
            <i class="fa-regular fa-hand-lizard fa-3x"></i>
            <h3>77 مُسْتَفِيد</h3>
        </div>
        

        <div>
            <i class="fa-solid fa-handshake-angle fa-3x"></i>
            <h3>20 صَيْدَلِيَّة مُعْتَمَدَة</h3>
        </div>
    </div>
    
</section>
<!-- End statistics -->


<!-- Start most needed medicine -->
<section class="needed bg-dark" id="needed">

    <h1 class="section-title">أَدْوِيَة النَّاس بِحاجَةٍ إِلَيْها</h1>

    <div class="container grid-3 center">
        <div>
            <img src="../../../assets/images/insulin-nbg.png" alt="">
            <h3>اونسلين</h3>
            <p>يُسَاعِد مَرْضَى السُّكَّرِيّ عَلَى حِفَّاظِ مُسْتَوَى مُعْتَدِل للسكريات فِي الدَّمِ</p>
        </div>
        
        <div>
            <img src="../../../assets/images/Famodar-nbg.png" alt="">
            <h3>فومودار</h3>
            <p>يُسَاعِدُ عَلَى التَّخَلُّصِ مِنْ الْأُمِّ الْمَعِدَة مِثْل الْحُرَقَة</p>
        </div>
        

        <div>
            <img src="../../../assets/images/Panadol-nbg.avif" alt="">
            <h3>بانادول</h3>
            <p>مُسَكنْ عَام لِتَخْفِيف الْآلَام الْمُؤَقَّتَة</p>
        </div>
    </div>

</section>
<!-- End most needed medicine -->

<!-- Start most donated medicine -->
<section class="donated bg-dark" id="donated">

    <h1 class="section-title">أَدْوِيَة مَوْجُودَةٌ لِمَنْ يَحْتَاج</h1>

    <div class="container grid-3 center">
        <div>
            <img src="../../../assets/images/amoxiline-nbg.png" alt="">
            <h3>اونسلين</h3>
            <p>يُسَاعِد مَرْضَى السُّكَّرِيّ عَلَى حِفَّاظِ مُسْتَوَى مُعْتَدِل للسكريات فِي الدَّمِ</p>
        </div>
        
        <div>
            <img src="../../../assets/images/nose-nbg.png" alt="">
            <h3>فومودار</h3>
            <p>يُسَاعِدُ عَلَى التَّخَلُّصِ مِنْ الْأُمِّ الْمَعِدَة مِثْل الْحُرَقَة</p>
        </div>
        

        <div>
            <img src="../../../assets/images/Joint-nbg.png" alt="">
            <h3>بانادول</h3>
            <p>مُسَكنْ عَام لِتَخْفِيف الْآلَام الْمُؤَقَّتَة</p>
        </div>
    </div>
    
</section>
<!-- End most donated medicine -->

<!-- Start About -->
<section class="about bg-light" id="about">
    <div class="container">
        <div class="grid-2">
            <div class="center">
                <img src="../../../assets/images/logo.png" alt="">
            </div>
            <div>
                <h3>من نحن</h3>
                <p>نَحْن فَرِيقٌ صَيْدَلِيَّة النَّاس ، فَرِيقٌ تَطَوُّعِي يَسْعَى لِمُسَاعَدَة النَّاسُ عَنْ طَرِيقِ النَّاسِ . الهَدَف الأسَاسِيّ لِلْمُوَقِّع هُوَ رَبْطُ الْأَطْرَاف الْمُنَاسَبَة لِخَلْق بِيئَة آمِنَة لِلْجَمِيع ، بِالْإِضَافَة لِتَسْهِيل التَّوَاصُل بَيْنَ جَمِيعِ الْأَطْرَافِ</p>
            </div>
        </div>
    </div>
</section>
<!-- End About -->


<!-- Start Footer -->
<footer class="center bg-dark">
    <p>AFK &copy; 2023</p>
</footer>
<!-- End Footer -->